<section class="w-full max-w-4xl mx-auto mt-16 text-center">
  <h2 class="text-sm tracking-[0.18em] uppercase text-gray-500 font-hermes">
    Het gevoel
  </h2>
{#
  <p class="mt-4 text-lg leading-relaxed text-gray-900">
    {{ product.description ? product.description|striptags|slice(0, 100) ~ '…' :
      'Dit is een item dat je niet “nodig hebt”, maar wél wil dragen. In de hand voelt het anders. In het beeld klopt het. En juist dat maakt het een Topbags-keuze.' }}
  </p>#}


  <p class="mt-4 text-sm leading-relaxed text-gray-600">
    Dit is een item dat je niet “nodig hebt”, maar wél wil dragen. In de hand voelt het anders. In het beeld klopt het. En juist dat maakt het een Topbags-keuze.
    Functioneel moet het goed zijn, maar je koopt ook uitstraling, vertrouwen en het gevoel dat je iets moois hebt gekozen bij een winkel met smaak. 
    Holtkamp is een winkel waar dat gevoel centraal staat. En dat zie je terug in de presentatie van onze producten, dit doen wij al sinds 1900.
  </p>
</section>
