{% extends 'base.html.twig' %}

{% block title %}
    {{ category.name }} | Topbags
{% endblock %}

{% block body %}

<h1 class="text-2xl font-bold mb-6">
    {{ category.name }} 
</h1>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for item in items %}
        {% include 'shop/component/card/_card.html.twig' with {
            context: currentContext ?? 'shop',
            product: product,
            variant: product.getMasterVariant(),
            master: product.getMasterVariant(),
            mediaPath: '',
            availability: null
        } %}
    {% else %}
        <p class="col-span-full text-gray-500">
            Geen producten gevonden in deze categorie.
        </p>
    {% endfor %}
</div>

{% endblock %}